# -*- mode: sh; -*-
module load sl6

module load intel
module load mkl
module load openmpi
module load cuda
module load matlab
module load petsc

export CUDA_DIR=${CUDA_LIB}/../
export CUDA_PATH=${CUDA_LIB}/../

export FFTW_DIR=/org/groups/padas/lula_packages/fftw

